
/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
  font-family: "Mediator Narrow Web Extra Bold";
  position: fixed;
  width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a {
  text-decoration: none;
  position: relative;
  display: inline-block;
}

.topnav a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #8EBA12;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.topnav a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
  height: 6px;
}

