<link href="https://db.onlinewebfonts.com/c/a5bb475fe3f43d376ac10ac700504814?family=Mediator+Narrow+Web+Extra+Bold" rel="stylesheet">
<link href="https://db.onlinewebfonts.com/c/002209bee8df7c3666a712ebd9253f60?family=Roboto+Bold" rel="stylesheet">

<div class="topnav">
  <div class="navbar-left">
    <a class="navbar-brand" routerLink="/home">
      <img src="assets/logo.png" alt="Logo" class="logo">
      <span class="app-name">GND</span>
    </a>
  </div>

  <div class="hover-links">
    <a routerLink="/" id="home">Home</a>
    <a routerLink="upload" id="upload-document">Upload</a>
    <a routerLink="outlook-inbox" id="inbox">Inbox</a>
    <a routerLink="report" id="help">Help</a>
    <a routerLink="faq-page" id="FAQ">FAQ</a>
    <a class="walkthrough-toggle" (click)="toggleWalkthrough()">
      <i class="fas fa-question-circle"></i>
    </a>
  </div>
</div>

<div class="main-content">
  <router-outlet></router-outlet>
</div>
