<link href="https://db.onlinewebfonts.com/c/a5bb475fe3f43d376ac10ac700504814?family=Mediator+Narrow+Web+Extra+Bold" rel="stylesheet">

<div class="topnav navbar-dark bg-black">
  <a class="navbar-brand" routerLink="/home">
    <img src="assets/logo.png" alt="Logo" width="30" height="30" class="d-inline-block align-top">
  </a>
  <a class="active" routerLink="/">Home</a>
  <a class="active" routerLink="/report">Report</a>
  <!-- <a class="active" routerLink="/">Help</a> -->

  <a class="active" routerLink="/inbox">Inbox</a>          <!--Just for testing-->
</div>

<router-outlet></router-outlet>
