/* Reset and basic layout styles */
body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  height: 100%;
}

/* Main content area */
.main-content {
  padding-top: 60px;
  min-height: calc(100vh - 60px);
  box-sizing: border-box;
}

/* Navbar styles */
.topnav {
  display: flex;
  justify-content: space-between; /* Align left and right sections */
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding: 0 20px;
  font-family: "Mediator Narrow Web Extra Bold";
  z-index: 1000;
  /* color: white; */
}

.topnav::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../assets/professional.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(5px); 
  z-index: -1; 
}



/* Navbar logo on the left */
.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-brand {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.navbar-brand .logo {
  width: 45px;
  height: 40px;
}

.app-name {
  font-size: 30px;
  font-weight: bold;
  font-family: "Roboto Bold", sans-serif;
  /* color: #333; */
  color:white;
  margin-left: 12px;
}

/* Links on the right */
.hover-links {
  display: flex;
  align-items: center;
}

.hover-links a {
  /* color: #333; */
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  position: relative;
  transition: color 0.3s ease;
}

.hover-links a:hover {
  color: #000;
}

.hover-links a::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 0;
  height: 3px;
  background-color: #8EBA12;
  transition: width 0.3s ease;
}

.hover-links a:hover::after {
  width: 100%;
}

/* Walkthrough icon */
.walkthrough-toggle {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 14px 16px;
}

.walkthrough-toggle i {
  font-size: 17px;
  /* color: #333; */
  color: white;
}
