<!-- Main modal -->
<div id="termsModal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative p-4 w-full max-w-2xl max-h-full">
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <!-- Modal header -->
      <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">Terms and Conditions</h3>
        <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="termsModal">
          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1l6 6m0 0l6 6M7 7l6-6M7 7l-6 6"/>
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <div class="p-4 md:p-5 space-y-4">
        <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
          These Terms and Conditions govern your use of the  GND admin app, which provides administrative users with access to statistics from the GND GDPR Data Detection application installed by users. By using this Web App, you agree to comply with these terms. If you do not agree to these terms, you must not use the Web App.
        </p>
        <h5>User Responsibilities</h5>
        <ul class="list-disc list-inside">
          <li class="text-gray-500 dark:text-gray-400">You are responsible for maintaining the confidentiality of your login credentials and ensuring that only authorized individuals access the Web App.</li>
          <li class="text-gray-500 dark:text-gray-400">You must not share any personal or sensitive data visible within the Web App without proper authorization.</li>
          <li class="text-gray-500 dark:text-gray-400">You agree to notify us immediately of any unauthorized use of your account.</li>
          <li class="text-gray-500 dark:text-gray-400">You must comply with all applicable data protection laws, including the GDPR, when viewing and processing any data within the Web App.</li>
        </ul>
          <h5>Changes to the Terms</h5>
          <p class="text-gray-500 dark:text-gray-400">
            We reserve the right to modify these Terms and Conditions at any time.<br> Any changes will be communicated to you through the Web App or via email.<br> Continued use of the Web App after such changes will constitute your acceptance of the updated terms
            </p>
      </div>
    </div>
  </div>
</div>
