@font-face {
  font-family: 'Mediator Narrow Web Extra Bold';
  src: url('../../assets/fonts/MediatorNarrowWebExtraBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Bold';
  src: url('../../assets/fonts/Roboto Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

.background{
  /* Start */
  background-image: url('../../assets/professional.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  /* End */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
  box-sizing: border-box;
}

.logo {
  width: auto;
  height: auto;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  flex-direction: column;
}

.button-container button {
  border: 2px solid #ccc;
  border-radius: 8px;
  margin: 0.5em;
  font-family: "Roboto Bold";
  cursor: pointer;
}

