@font-face {
  font-family: 'Mediator Narrow Web Extra Bold';
  src: url('../../assets/fonts/MediatorNarrowWebExtraBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Bold';
  src: url('../../assets/fonts/Roboto Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

.container {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 60px);
  overflow: auto;
  overflow: hidden;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

button {
  background-color: #367d32;
  /* background-color: #008CBA; */
  /* border: none; */
  border: 2px solid #ccc;
  border-radius: 8px;
  margin: 0.5em;
  color: white;
  padding: 15px 32px;
  text-align: center;
  /* text-decoration: none; */
  display: inline-block;
  font-family: "Roboto Bold";
  font-size: 16px;
  margin-top: 1rem;
  cursor: pointer;
}

/* .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
  box-sizing: border-box;
}

.logo {
  width: auto;
  height: auto;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  flex-direction: column;
}

.button-container button {
  border: 2px solid #ccc;
  border-radius: 8px;
  margin: 0.5em;
  font-family: "Roboto Bold";
  cursor: pointer;
}
 */
