<link href="https://db.onlinewebfonts.com/c/a5bb475fe3f43d376ac10ac700504814?family=Mediator+Narrow+Web+Extra+Bold" rel="stylesheet">
<link href="https://db.onlinewebfonts.com/c/002209bee8df7c3666a712ebd9253f60?family=Roboto+Bold" rel="stylesheet">


<div class="container">
  <img src="assets/images/GND Logo.png" alt="GND Logo" class="logo">
  <div class="button-container">
    <button [routerLink]="['/upload']">Upload a File</button>
    <button [routerLink]="['/inbox']">View inbox</button>
  </div>
</div>