<!-- <link href="https://db.onlinewebfonts.com/c/a5bb475fe3f43d376ac10ac700504814?family=Mediator+Narrow+Web+Extra+Bold"
  rel="stylesheet">
<link href="https://db.onlinewebfonts.com/c/002209bee8df7c3666a712ebd9253f60?family=Roboto+Bold" rel="stylesheet"> -->

<link rel="stylesheet" href="home.component.css">


  <!-- <div class="container">
 
   <img src="assets/images/GND Logo.png" alt="GND Logo" class="logo">
    <div class="button-container">
      <button [routerLink]="['/upload']" id="UploadButton" type="button"
        class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">Upload
        a File</button>
      <button [routerLink]="['/outlook-inbox']" id="InboxButton" type="button"
        class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">View
        Inbox</button>

    </div>

  </div> -->

<div class="container">
  <div class="row">
    <div class="col-8"> 
      <h1>GND - GDPR Non Compliance Detector</h1>
      <p>The GDPR Data Noncompliance Detector is a software tool designed to identify instances of noncompliance with the General Data Protection Regulation. It analyzes data sets and identifies potential violations of GDPR principles, such as unauthorised data processing, inadequate security measures, or lack of consent. 
      <br><br>To get started just upload a document you want to check for any violations or click on the inbox button to check your inbox and downloads</p>
      <!-- <button>Upload a Document</button> -->
      <button [routerLink]="['/upload']" id="UploadButton" type="button"
      class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">Upload
      a File</button>
    <button [routerLink]="['/outlook-inbox']" id="InboxButton" type="button"
      class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">View
      Inbox</button>
    </div>
    <div class="col-4">
      <img src="assets/images/GND Logo.png" alt="GND Logo" class="logo">
    </div>
  </div>
</div>