/* @font-face {
  font-family: 'Mediator Narrow Web Extra Bold';
  src: url('../../assets/fonts/MediatorNarrowWebExtraBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Bold';
  src: url('../../assets/fonts/Roboto Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

.mock {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 20px 10px;
}

.mock:hover {
  background-color: darkred;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 2.5em;
  padding-top: 1em;
}

.header {
  font-family: "Mediator Narrow Web Extra Bold";
  position: relative;
  display: inline-block;
  font-size: 35px;
  color: black;
}

.header::after {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #8EBA12;
  border-radius: 50%;
  transform: translateX(-100%);
}

.grid-container {
  display: grid;
  grid-template-areas: 
            "a b c" 
            "d d c" 
            "d d c";
  grid-gap: 20px; 
  margin: 0px 20px; 
  padding-bottom: 20px;
  color: black;
}

#violations {
  grid-area: a;
}

#risk-score {
  grid-area: b;
}

#articles {
  grid-area: c;
  align-self: start;
  max-height: 600px;
  overflow-y: auto;
}

#location {
  grid-area: d;
}

.canvas-wrapper {
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 200px;
  max-height: 100%;
  width: 100%;
}

.canvas-wrapper .header1 {
  font-family: "Mediator Narrow Web Extra Bold";
  font-size: 20px;
  margin-bottom: 15px;
  text-align: center;
  width: 100%;
}

canvas {
  max-width: 100% !important;
  height: auto; 
}

#violations canvas, 
#risk-score canvas { 
  max-height: 400px; 
  width: auto; 
}

.text-box {
  margin-top: 10px;
  width: 400px; 
  height: auto; 
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  word-wrap: break-word; 
  white-space: normal; 
  overflow: auto; 
}

#map {
  width: 100%; 
  height: 100%; 
  background-color: lightgrey; 
}

#comparison-chart canvas {
  max-height: 400px;
  width: auto;
}

#gauge-chart canvas {
  max-height: 400px;
  width: auto;
} */

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 1.5em;
  padding-top: 2em;
  
}

.header {
  font-family: "Mediator Narrow Web Extra Bold";
  position: relative;
  display: inline-block;
  font-size: 35px;
  color: white;
}

.sub-header {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  display: inline-block;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
  color: white;
}

.visualization-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
  grid-auto-rows: minmax(200px, 400px);
}

.visualization {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  color: black;
}

.visualization {
  background-color: #f9f9f9;
}

.chart-header {
  font-family: "Mediator Narrow Web Extra Bold";
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
  color: #333;
}

.header-inside {
  font-size: 20px;
  text-align: center;
  color: black;
  font-weight: bold;
}

canvas {
  max-width: 100%;
  max-height: 300px;
  height: auto;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  background-color: #fff;
  overflow-y: auto;
  text-align: left;
  word-wrap: break-word;
  color: black;
}

.description-rag {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  background-color: #fff;
  overflow-y: auto;
  text-align: left;
  word-wrap: break-word;
  color: black;
}

@media (max-width: 768px) {
  .visualization-grid {
    grid-template-columns: 1fr;
  }
}

.divider {
  height: 4px;
  background-color: black;
  margin-bottom: 1em;
}