<div class="header-container">
  <header class="header">
    <!-- Visualized -->
    Visualization
  </header>
</div>

<button class="mock" (click)="populateWithMockData()">Mock</button>

<div class="grid-container">
  <div id="violations" class="grid-item canvas-wrapper">
    <header class="header1">Violations per Category</header>
    <canvas id="circularBarChart"></canvas>
  </div>

  <div id="risk-score" class="grid-item canvas-wrapper">
    <header class="header1">Risk Score</header>
    <canvas #radarChartCanvas width="300" height="300"></canvas>
  </div>

  <div id="articles" class="grid-item canvas-wrapper">
    <header class="header1">Articles Violated</header>
    <canvas #progressCanvas width="200" height="200"></canvas>
    <div class="text-box">Some random text</div>
  </div>

  <div id="location" class="grid-item canvas-wrapper">
    <header class="header1">Location</header>
    <div id="map"></div>
  </div>
</div>

<!-- <div> -->
<!-- <h2>Visualization</h2> -->
<!-- <div *ngIf="data"> -->
<!-- Display the data or plot here -->
<!-- <pre>{{ data | json }}</pre> -->
<!-- </div> -->
<!-- </div> -->
<!-- <div class="visualization-container">
    <h2>Visualization</h2>
    <canvas id="progressCanvas" width="400" height="400"></canvas>
  </div> -->
