.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 2.5em;
  padding-top: 1.0em;
}

.header {
  font-family: "Mediator Narrow Web Extra Bold";
  position: relative;
  display: inline-block;
  font-size: 35px;
}

.header::after {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #8EBA12;
  border-radius: 50%;
  transform: translateX(-100%);
}

.mock {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 10px; /* Space below the button */
  margin-left: 20px;
}

.mock:hover {
  background-color: darkred;
}

.canvas-wrapper {
  max-width: 500px; /* Set a max width */
  max-height: 500px; /* Set a max height */
  width: 400px; /* Fixed width for consistency */
  height: 400px; /* Fixed height for consistency */
  border: 2px solid #3498db; /* Outline color */
  display: flex; /* Use flexbox for centering */
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  margin-left: 20px; /* Add left margin */
    
  border: 2px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 45vw;
  flex-grow: 1;
  max-width: calc(50% - 1em);
}

canvas {
  max-width: 100% !important; /* Prevent canvas from exceeding max width */
}

.visualization-container {
  max-width: 850px; /* Set a max width for the visualization container */
  max-height: 600px; /* Set a max height for the visualization container */
  width: 100%; /* Allow full width within constraints */
  height: auto; /* Allow height to adjust based on content */
  overflow: hidden; /* Prevent overflow of content */
  margin-top: 10px; /* Space above the visualization container */
  margin-left: 20px;
  margin-bottom: 20px;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 45vw;
  flex-grow: 1;
  max-width: calc(50% - 1em);
}

#map {
  width: 800px; /* Set a fixed width */
  height: 600px; /* Set a fixed height */
  display: flex; /* Optional: if you want to center content within */
  align-items: center; /* Optional: center vertically */
  justify-content: center; /* Optional: center horizontally */
}

.progress-circle-container {
  max-width: 220px; /* Set a max width for the progress circle container */
  max-height: 820px; /* Set a max height for the progress circle container */
  width: 100%; /* Allow full width within constraints */
  height: auto; /* Allow height to adjust based on content */
  display: flex; /* Use flexbox to center content */
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  margin-top: 10px; /* Space above the progress circle */
  margin-bottom: 20px;
  margin-right: 20px;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex-grow: 1;
  max-width: calc(50% - 1em);
}

.text-box{
  margin-top: 20px;
  width: 500px;
  height: 260px;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex-grow: 1;
}


