absl-py
accelerate
aiohttp
aiosignal
amqp
annotated-types
anyio
astunparse
async-timeout
attrs
beautifulsoup4
billiard
biplist
bleach
blinker
blis
bs4
catalogue
celery
certifi
cffi
chardet
charset-normalizer
ci-info
click
click-didyoumean
click-plugins
click-repl
cloudpathlib
colorama
confection
configobj
configparser
cryptography
curated-tokenizers
curated-transformers
cymem
datasets
dill
dnspython
docx2txt
email_validator
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
et-xmlfile
etelemetry
exceptiongroup
fastapi
fastapi-cli
filelock
Flask
Flask-Cors
flatbuffers
frozenlist
fsspec
gast
gdown
google-pasta
grpcio
gunicorn
h11
h5py
httpcore
httplib2
httptools
httpx
huggingface-hub
idna
intel-openmp
isodate
itsdangerous
Jinja2
joblib
jsonify
keras
kombu
langcodes
langdetect
language_data
libclang
looseversion
lxml
marisa-trie
Markdown
markdown-it-py
MarkupSafe
mdurl
mkl
ml-dtypes
mpmath
multidict
multiprocess
murmurhash
namex
networkx
nibabel
nipype
nltk
numpy
opencv-python
openpyxl
openpyxl-image-loader
opt-einsum
optree
orjson
packaging
pandas
pathlib
pdf2image
pdfminer.six
pdfplumber
pillow
preshed
prompt_toolkit
protobuf
prov
psutil
pyarrow
pyarrow-hotfix
pycparser
# pydantic
# pydantic_core
pydot
Pygments
PyMuPDF
PyMuPDFb
pyparsing
pypdf
pypdfium2
PySocks
pytesseract
python-dateutil
python-docx
python-dotenv
python-multipart
pytz
pyxnat
PyYAML
rdflib
redis
regex
reportlab
requests
retina-face
rich
safetensors
scikit-learn
scipy
sentencepiece
shellingham
simplejson
six
smart-open
sniffio
soupsieve
spacy
spacy-curated-transformers
spacy-legacy
spacy-loggers
srsly
starlette
sympy
tbb
# tensorboard
# tensorboard-data-server
# tensorflow
# tensorflow-intel
# tensorflow-io-gcs-filesystem
termcolor
tf_keras
thinc
threadpoolctl
tokenizers
torch
tqdm
traits==6.3.2
transformers
typer
typing_extensions
tzdata
ujson
urllib3
uuid
uvicorn
vine
wasabi
watchdog
watchfiles
wcwidth
weasel
webencodings
websockets
Werkzeug
wrapt
xxhash
yarl
supabase

# protobuf
# transformers
torch
pypdf
docx2txt
openpyxl
# xattr
biplist