pandas
pdfminer.six
python-docx
langdetect
langcodes
reportlab
openpyxl
fastapi
fastapi-cli
uvicorn
pymupdf
pytesseract
pdfplumber
openpyxl
openpyxl_image_loader
nltk
bleach
fastapi==0.111.0
fastapi-cli==0.0.4
uvicorn==0.30.
watchdog
fitz