html, body {
  height: 100%;
  margin: 0;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrapper {
  flex: 1;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header'
    'sidebar main';
  grid-gap: 10px;
  padding: 10px;
}

.grid-item {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
}
