<div class="topnav navbar-dark bg-black">
  <a class="navbar-brand" routerLink="/">
    <img src="/logo.png" alt="Logo" width="30" height="30" class="d-inline-block align-top">
  </a>

  <div class="hover-links">
    <a class="active" routerLink="/home" id="dashboard">Dashboad</a>
    <a class="active" routerLink="/login" id="login">Login</a>
    <a class="active" routerLink="/register" id="register">Register</a>
  </div>
</div>

<div class="main-content">
  <router-outlet></router-outlet>
</div>
