<link href="https://db.onlinewebfonts.com/c/a5bb475fe3f43d376ac10ac700504814?family=Mediator+Narrow+Web+Extra+Bold" rel="stylesheet">
<link href="https://db.onlinewebfonts.com/c/002209bee8df7c3666a712ebd9253f60?family=Roboto+Bold" rel="stylesheet">


<div class="header-container">
    <header class="header">
        Violations
    </header>
</div>

<div class="container-button">
    <button class="button-style" routerLink="/inbox">Back</button>
</div>

<div class="containers">
    <div class="inbox-rectangle">
        <p>
            Personal Information:
            <br>
            <br>
            Name: Harvey Spectre
            <br>
            <br>
            Address: 12 Pearson Street, Netherlands, NL Email
            <br>
            <br>
            Address: harvey.spectre"&#64;"example.com
            <br>
            <br>
            Phone Number: (555) 555-1234
            <br>
            National Identification Number: 123-45-6789
            <br>
            IP Address: 192.168.1.100
            <br>
            <br>
            Social Media Profile: "&#64;"HarveySpectreLaw (Twitter)
        </p>
    </div>

</div>


