.landing-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.landing-container h1,
.landing-container p {
  color: black;
  font-size: large;
  z-index: 1;
}
