@font-face {
  font-family: 'Mediator Narrow Web Extra Bold';
  src: url('../../assets/fonts/MediatorNarrowWebExtraBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Bold';
  src: url('../../assets/fonts/Roboto Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

.carousel-container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  padding-top: 2em;
}

.carousel {
  position: relative;
  overflow: hidden;
}

.carousel-slide {
  display: none;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.carousel-slide.active {
  display: flex;
}

.slide-image {
  width: 100%;
  max-height: 450px;
  object-fit: contain;
  border-radius: 10px;
  margin-bottom: 1em;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.slide-title {
  /* font-family: 'Mediator Narrow Web Extra Bold'; */
  font-family: 'Oswald', 'Roboto', sans-serif;
  font-size: 2em;
  margin-bottom: 0.5em;
  color:white;
}

.slide-description {
  font-family: 'Roboto Bold';
  font-size: 1.2em;
  margin-top: 0.5em;
  color: white;
}

.carousel-controls {
  position: absolute;
  top: 65%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(-50%);
}

.carousel-control {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 1.2em;
  border: none;
  padding: 0.3em;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-control:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel-control i {
  margin: 0;
}

.carousel-indicators {
  text-align: center;
  margin-top: -1.5em;
}

.carousel-indicator {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #bbb;
  border-radius: 50%;
  margin: 0 0.3em;
  cursor: pointer;
}

.carousel-indicator.active {
  background-color: #717171;
}

.header-container {
  text-align: center;
  padding-top: 3.5em;
}

.header {
  /* font-family: 'Mediator Narrow Web Extra Bold'; */
  font-family: 'Oswald', 'Roboto', sans-serif;
  font-size: 2.5em;
  position: relative;
}

.header::after {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #8eba12;
  border-radius: 50%;
  margin-left: 0.5em;
}