font-face {
  font-family: 'Mediator Narrow Web Extra Bold';
  src: url('../../assets/fonts/MediatorNarrowWebExtraBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Bold';
  src: url('../../assets/fonts/Roboto Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.main-content {
  padding-top: 80px;
  min-height: calc(100vh - 100px);
  box-sizing: border-box;
  color: whitesmoke;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 1em;
  padding-top: 1em;
}

.header {
  font-family: "Mediator Narrow Web Extra Bold";
  position: relative;
  display: inline-block;
  font-size: 35px;
  margin: 0 20px;
  cursor: pointer;
}


.active-header {
  color: black;
}

.clickable-header {
  color: gray;
  opacity: 0.7;
  transition: opacity 0.3s;
}

.clickable-header:hover {
  opacity: 1;
}

.sub-header {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  display: inline-block;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 1.5em;
}


.containers {
  display: flex;
  justify-content: flex-end;
  margin: 0 1em;
  gap: 1em;
  background-color: #111827;
}


.inbox-rectangle, .analysis-rectangle {
  padding: 20px;
  /* flex-grow: 1; */
  width: calc(100% - 35rem);
  height: 60vh;
  /* background-color: #111827; */
  border-radius: 8px;
  overflow-x: hidden;
  box-sizing: border-box;
  /* border-width: 5px; */
  /* border-color: #8EBA12; */
}

.analysis-rectangle {
  border: #8EBA12;
  height: 75vh;
  border-width: 5px;
  border-color: #8EBA12;
}

.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}

@media (max-width: 1024px) {
  .containers {
    flex-direction: column;
    align-items: stretch;
  }

  .inbox-rectangle, .analysis-rectangle {
    width: 100%;
  }

  .ml-64 {
    margin-left: 0;
  }

  .analysis-rectangle {
    width: 100%;
    margin-left: 0;
  }

  #default-sidebar {
    position: relative;
    width: 100%;
    height: auto;
    transform: translateX(0);
    background-color: #111827;
  }
}

@media (max-width: 768px) {
  .header {
    font-size: 25px;
  }

  .analysis-header, .inbox-header {
    font-size: 20px;
  }
}

.analysis-header, .inbox-header {
  font-family: "Mediator Narrow Web Extra Bold";
  position: relative;
  display: inline-block;
  font-size: 25px;
  margin-bottom: 0.2em;
}

.analysis-box-header {
  font-family: "Roboto Bold";
}

.analysis-header::after, .inbox-header::after {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #8EBA12;
  border-radius: 50%;
  transform: translateX(15%) translateY(10%);
}

.divider {
  height: 2px;
  background-color: black;
  margin-bottom: 1em;
}

.card {
  background-color: #111827;
  /* border: 1px solid #ccc; */
  /* border-radius: 4px; */
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border: none;
  outline: none;
  box-shadow: none;
}

.file-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.file-info span:first-child {
  text-align: left;
}

.file-info span:last-child {
  text-align: right;
  color: white;
  padding-left: 20px;
}

.analysis-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Bold";
}

.dropzone-disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.analysis-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 75%;
}

.analysis-data p {
  font-family: "Roboto Bold";
}

.selected-email {
  background-color: lightblue;
}

.hidden {
  visibility: hidden;
}

.comp-status-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  margin-top: 50px;
}

.comp-status {
  text-align: center;
  font-family: "Roboto Bold";
}

.status-compliant {
  color: #155724;
  font-size: large;
}

.status-non-compliant {
  color: #721c24;
  font-size: large;
}


.ner-data {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  font-family: "Roboto Bold";
  padding-top: 10px;
}

.result-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  font-family: "Roboto Bold";
}

.result-data p {
  flex-shrink: 0;
  padding-left: 44px;
}

.result-data span {
  flex-grow: 1;
  text-align: right;
  padding-right: 44px;
}

.divider-text {
  height: 1px;
  background-color: gray;
  margin-bottom: 1em;
  width: 90%;
  margin: 0 auto 1em;
}

.consent-status-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  text-align: center;
}

.consent-status {
  width: 100%;
  max-width: 90%;
  text-align: center;
}

.consent-agreement {
  background-color: #0875e2;
  color: whitesmoke;
  font-size: 1.2em;
  padding: 0.5em;
  border-radius: 0.25em;
  word-wrap: break-word;
  word-break: break-word;
  padding-top: 15px;
  margin: 0 auto;
  text-align: center;
  max-width: 100%;
  box-sizing: border-box;
  display: inline-block;
  height: auto;
  white-space: normal;
  font-family: "Roboto Bold";
}

.rag-status-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  text-align: center;
}

.rag-status {
  width: 100%;
  max-width: 90%;
  text-align: center;
}

.rag-agreement {
  background-color: #3d85c6;
  color: white;
  font-size: 1.2em;
  padding: 0.5em;
  border-radius: 0.25em;
  word-wrap: break-word;
  word-break: break-word;
  padding-top: 15px;
  margin: 0 auto;
  text-align: center;
  max-width: 100%;
  box-sizing: border-box;
  display: inline-block;
  height: auto;
  white-space: normal;
  font-family: "Roboto Bold";
}

.analysis-rectangle {
  flex-grow: 1;
  width: calc(100% - 16rem);
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
}

.ml-64 {
  margin-left: 16rem;
}

@media (max-width: 1024px) {
  .containers {
    flex-direction: column;
    align-items: stretch;
  }

  .ml-64 {
    margin-left: 0;
  }

  .analysis-rectangle {
    width: 100%;
    margin-left: 0;
  }

  #default-sidebar {
    position: relative;
    width: 100%;
    height: auto;
    transform: translateX(0);
    background-color: #111827;
  }
}

.file-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111827 !important;
  color: whitesmoke;
  /* border: 1px solid #ccc; */
  /* border-radius: 4px; */
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.file-details {
  display: flex;
  align-items: center;
}

.file-icon {
  font-size: 32px;
  margin-right: 10px;
  color: #4a5568;
}

.file-text {
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  margin-left: 20px;
}

.file-date {
  font-size: 12px;
  margin-top: 2px;
  color: whitesmoke;
}

.violation-status {
  font-size: 14px;
  text-align: right;
}

.relative {
  position: relative;
}

.tooltip {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  margin-left: 10px;
  padding: 8px;
  background-color: #111827;
  color: white;
  border-radius: 4px;
  white-space: nowrap;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}

.tooltip-arrow {
  position: absolute;
  top: 50%;
  left: -5px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #111827;
}

[data-tooltip-target]:hover + .tooltip {
  visibility: visible;
  opacity: 1;
}

.header-container .header:first-child {
  border-right: 1px solid #ccc;
  padding-right: 50px;
  margin-right: 20px;
}

@media (max-width: 1024px) {
  .header-container .header:first-child {
    border-right: none;
    padding-right: 0;
    margin-right: 0;
  }
}

.header-container-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* padding-bottom: 2.5em; */
  padding-top: 1em;
}

.header-2 {
  font-family: "Mediator Narrow Web Extra Bold";
  position: relative;
  display: inline-block;
  font-size: 35px;
  color: black;
}