<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body class="fullscreen-image">

   <div class="login-container">

     <div class="login-form">
       <h1>Login</h1>
       <form>
         <div class="form-group">
           <label for="email">Email</label>
           <input type="email" id="loginEmail" name="email" required>
         </div>
         <div class="form-group">
           <label for="password">Password</label>
           <input type="password" id="currentPassword" name="password" required>
         </div>
         <a href="#">Forgot Password</a>
         <button type="submit">Login</button>
         <button type="submit">register</button>
       </form>
     </div>

     <div class="register-form">
       <h1>Register</h1>
       <form>
         <div class="form-group full-width">
           <label for="name">Name</label>
           <input type="text" id="name" name="name" required>
          </div>
          <div class="form-group full-width">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>
          </div>
          <div class="form-group full-width">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
          </div>
          <button type="submit">Register</button>
        </form>
      </div>

    </div>
</body>
</html>
