<div class="fullscreen-image">
  <div class="login-container">
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
      <div class="form-group mb-6">
        <label for="email">Email address</label>
        <input type="email" id="email" formControlName="email" class="form-control" [ngClass]="{'is-invalid': loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)}">
        <div class="invalid-feedback" *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)">
          <div *ngIf="loginForm.get('email')?.errors?.['required']">Email is required.</div>
          <div *ngIf="loginForm.get('email')?.errors?.['email']">Please enter a valid email address.</div>
        </div>
      </div>

      <div class="form-group mb-6 relative">
        <label for="password">Password</label>
        <div class="password-input-wrapper">
          <input [type]="showPassword ? 'text' : 'password'" id="password" formControlName="password" class="form-control" [ngClass]="{'is-invalid': loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)}">
          <button type="button" class="password-toggle" (click)="togglePasswordVisibility()">
            <span class="eye-icon" [ngClass]="{'visible': showPassword}">👁️</span>
          </button>
        </div>
        <div class="invalid-feedback" *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
          <div *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</div>
        </div>
      </div>

      <button type="submit" [disabled]="loginForm.invalid" class="submit-button">Login</button>

      <div class="register-link mt-4 text-center">
        <span>Or click here to register </span>
        <a routerLink="/register" class="text-blue-600 hover:underline dark:text-blue-500">Register</a>
      </div>
    </form>
  </div>
</div>
