.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 2.5em;
    padding-top: 4.5em;
    }

.header {
    font-family: "Mediator Narrow Web Extra Bold";
    position: relative;
    display: inline-block;
    font-size: 35px;
}

.header::after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #8EBA12;
    border-radius: 50%;
}

.grid-container-element { 
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-gap: 20px; 
    width: 50%;     
} 
.grid-child-element { 
    margin: 10px; 
    border: 1px solid black;
    /* border: 1px solid red;  */
}