<link
  href="https://db.onlinewebfonts.com/c/a5bb475fe3f43d376ac10ac700504814?family=Mediator+Narrow+Web+Extra+Bold"
  rel="stylesheet"
/>
<link
  href="https://db.onlinewebfonts.com/c/002209bee8df7c3666a712ebd9253f60?family=Roboto+Bold"
  rel="stylesheet"
/>

<div class="header-container">
  <header class="header">
    <!-- Visualized -->
    FAQ
  </header>
</div>

<div class="grid-parent">
  <div class="grid-gnd">
    <!-- How to use GND FAQs -->
    <div class="header-container">
      <header class="header">
        GND FAQ
      </header>
    </div>
    <p>
      If you’re new to GND, this guide will help you learn more about the
      platform.
    </p>

    <div class="dropdown">
      <button class="dropbtn" (click)="toggleDropdown('dropdown1')">What is GND?</button>
      <div id="dropdown1" [ngClass]="{'show': activeDropdown === 'dropdown1'}" class="dropdown-content">
        <p>
          GND is a GDPR violation detection application designed to help users
          identify potential GDPR compliance issues in their documents. By uploading
          files, GND scans and detects any violations, providing detailed results to
          help you ensure data protection compliance.
        </p>
      </div>
    </div>
    <br>


    <div class="dropdown">
      <button class="dropbtn" (click)="toggleDropdown('dropdown2')">How do I upload a file for scanning in GND?</button>
      <div id="dropdown2" [ngClass]="{'show': activeDropdown === 'dropdown2'}" class="dropdown-content">
        <p>
          To upload a file for scanning: <br>
          1. Open the GND app. <br>
          2. Click the "Upload" button or drag and drop your file into the designated area. <br>
          3. The app will automatically begin scanning the uploaded file for GDPR violations. <br>
          4. Once the scan is complete, you will receive a detailed report of any detected violations.
        </p>
      </div>
    </div>

    <div class="dropdown">
      <button class="dropbtn" (click)="toggleDropdown('dropdown3')">What types of files can I upload to GND?</button>
      <div id="dropdown3" [ngClass]="{'show': activeDropdown === 'dropdown3'}" class="dropdown-content">
        <p>GND supports a variety of file types, including: - PDF - Excel - Word</p>
      </div>
    </div>
     
    <div class="dropdown">
      <button class="dropbtn" (click)="toggleDropdown('dropdown4')">How long does it take for GND to scan a file?</button>

      <div id="dropdown4" [ngClass]="{'show': activeDropdown === 'dropdown4'}" class="dropdown-content">
        <p>
          The scan duration depends on the size and complexity of the file.
          Typically, most files are scanned within a few minutes. Larger files or
          those with complex content may take slightly longer.
        </p>
      </div>
    </div>

    <div class="dropdown">
      <button class="dropbtn" (click)="toggleDropdown('dropdown5')">How accurate is GND in detecting GDPR violations?</button>

      <div id="dropdown5" [ngClass]="{'show': activeDropdown === 'dropdown5'}" class="dropdown-content">
        <p>
          GND utilizes advanced algorithms and up-to-date regulatory information to
          ensure high accuracy in detecting GDPR violations. However, we recommend
          reviewing the results and consulting with a GDPR expert for critical
          compliance decisions.
        </p>      </div>
    </div>

    <div class="dropdown">
      <button class="dropbtn" (click)="toggleDropdown('dropdown6')">Is there a tutorial on how to use GND?</button>

      <div id="dropdown6" [ngClass]="{'show': activeDropdown === 'dropdown6'}" class="dropdown-content">
        <p>
          Yes, GND includes a help button that provides a comprehensive tutorial on
          how to use the app. The tutorial covers everything from uploading files to
          understanding the scan results.
        </p>
      </div>
    </div>

    <div class="dropdown">
      <button class="dropbtn" (click)="toggleDropdown('dropdown7')" >How can I get support if I encounter issues with GND?</button>

      <div id="dropdown7" [ngClass]="{'show': activeDropdown === 'dropdown7'}" class="dropdown-content">
        <p>
          If you encounter any issues or have questions, you can reach out to our
          support team via the "Support" section within the app. Additionally, you
          can email us at support&#64;gndapp.com for further assistance.
        </p>
      </div>
    </div>

    <div class="dropdown">
      <button class="dropbtn" (click)="toggleDropdown('dropdown8')">Is my data secure with GND?</button>

      <div id="dropdown8" [ngClass]="{'show': activeDropdown === 'dropdown8'}" class="dropdown-content">
        <p>
          Yes, we take data security very seriously. All uploaded files are
          processed in a secure environment, and we implement strict data protection
          measures to ensure your information remains confidential and secure.
        </p>
      </div>
    </div>

    <div class="dropdown">
      <button class="dropbtn" (click)="toggleDropdown('dropdown9')">How do I interpret the scan results?</button>

      <div id="dropdown9" [ngClass]="{'show': activeDropdown === 'dropdown9'}" class="dropdown-content">
        <p>
          The scan results will highlight any detected GDPR violations and provide
          details on the nature of each violation. The report will include
          recommendations for addressing these issues to help you achieve
          compliance.
        </p>
      </div>
    </div>

    <div class="dropdown" >
      <button (click)="toggleDropdown('dropdown10')" class="dropbtn">Can I download the scan results?</button>

      <div id="dropdown10" [ngClass]="{'show': activeDropdown === 'dropdown10'}"  class="dropdown-content">
        <p>
          No, you cannot download the scan results.
        </p>
      </div>
    </div>  
  </div>
</div> 

 <!-- <h3>Is GND free to use?</h3>
    <p>
      Yes, GND is completely free to use. There are no premium plans or hidden
      costs. You can use all the features of GND without any charges.
    </p> -->



  <!-- GDPR Violation FAQs -->
  <!-- <div class="grid-gdpr">
    
    <div class="header-container">
      <header class="header">
        GDPR FAQ
      </header>
    </div>

    <h3>What is GDPR?</h3>
    <p>
      The General Data Protection Regulation (GDPR) is a regulation in EU law on
      data protection and privacy for all individuals within the European Union
      and the European Economic Area. It also addresses the transfer of personal
      data outside the EU and EEA areas.
    </p>
    <h3>Why is GDPR important?</h3>
    <p>
      GDPR is important because it enhances the protection of personal data and
      gives individuals greater control over how their data is used.
      Non-compliance can result in hefty fines and damage to a company’s
      reputation.
    </p>
    <h3>What constitutes a GDPR violation?</h3>
    <p>
      A GDPR violation occurs when an organization fails to comply with any of
      the GDPR’s provisions, such as not obtaining proper consent for data
      collection, not protecting personal data adequately, or not providing
      individuals with their data rights.
    </p>
    <h3>How can I detect a GDPR violation?</h3>
    <p>
      Detecting a GDPR violation involves monitoring data handling practices,
      ensuring proper consent is obtained, checking for data breaches, and
      verifying that data subject rights are respected.
    </p>
    <h3>What are common signs of a GDPR violation?</h3>
    <p>
      Common signs include unauthorized access to personal data, failure to
      respond to data subject requests, lack of transparency about data
      processing activities, and insufficient data protection measures.
    </p>
    <h3>What should I do if I suspect a GDPR violation?</h3>
    <p>
      If you suspect a GDPR violation, you should immediately report it to your
      Data Protection Officer (DPO) or your organization's compliance team. They
      will conduct an investigation and take appropriate actions.
    </p>
    <h3>How do I report a GDPR violation?</h3>
    <p>
      A GDPR violation can be reported to the relevant Data Protection Authority
      (DPA) in your country. This usually involves submitting a detailed report
      outlining the suspected violation and any supporting evidence.
    </p>
    <h3>What are the consequences of a GDPR violation?</h3>
    <p>
      Consequences can include substantial fines (up to €20 million or 4% of
      annual global turnover, whichever is higher), legal actions, and
      significant reputational damage.
    </p>
    <h3>What are my rights under GDPR?</h3>
    <p>
      GDPR grants individuals rights including the right to access their data,
      the right to rectification, the right to erasure (right to be forgotten),
      the right to restrict processing, the right to data portability, and the
      right to object to data processing.
    </p>
    <h3>How can I exercise my rights under GDPR?</h3>
    <p>
      You can exercise your rights by contacting the data controller of the
      organization holding your data. They are required to respond to your
      request within a month.
    </p>
    <h3>How can my organization ensure GDPR compliance?</h3>
    <p>
      To ensure GDPR compliance, organizations should conduct regular audits,
      implement robust data protection measures, provide GDPR training for
      employees, and appoint a Data Protection Officer if necessary.
    </p>
    <h3>What are some best practices for GDPR compliance?</h3>
    <p>
      Best practices include obtaining clear and explicit consent, maintaining
      detailed records of data processing activities, conducting Data Protection
      Impact Assessments (DPIAs), and ensuring data is securely stored and
      transmitted.
    </p>
  </div> -->

