@import 'flowbite/dist/flowbite.css';
/* You can add global styles to this file, and also import other style files */
body {
  min-width: 500px; /* Set minimum width */
  min-height: 500px; /* Set minimum height */
}
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  /* background-image: url('https://cdn.prod.website-files.com/5a9ee6416e90d20001b20038/64f5c31d336e990b4a7f5476_Rectangle%20(11).svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; } */
}
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}