<link href="https://db.onlinewebfonts.com/c/a5bb475fe3f43d376ac10ac700504814?family=Mediator+Narrow+Web+Extra+Bold"
  rel="stylesheet">
<link href="https://db.onlinewebfonts.com/c/002209bee8df7c3666a712ebd9253f60?family=Roboto+Bold" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">

<div class="main-content">
  <div class="header-container">
    <header class="header">
      Upload a File
    </header>
  </div>

  <div class="containers">
    <div class="inbox-rectangle">
      <h2 class="inbox-header">
        Upload a file
      </h2>
      <div class="divider"></div>

      <div class="flex items-center justify-center w-full" [class.dropzone-active]="isDragActive"
        (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)" (drop)="onFileDropped($event)"
        id="uploadFile">
        <label for="dropzone-file"
          class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-gray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
          <div class="flex flex-col items-center justify-center pt-5 pb-6">
            <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
            </svg>
            <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload a
                file</span> or drag and drop</p>
          </div>
          <input id="dropzone-file" type="file" class="hidden" (change)="onFileSelected($event)" />
        </label>
      </div>

    </div>

      <div class="analysis-rectangle">
      <h2 class="analysis-header">
        Analysis
      </h2>
      <div class="divider"></div>
    
      <div class="analysis-data" *ngIf="result">
        <h2 class="analysis-box-header">Analysis Result:</h2>
        <div [ngClass]="{'status-success': status === 'compliant', 'status-error': status === 'Non-compliant'}">
          {{ status }}
        </div>
        <div class="result-content" [innerHTML]="formatResult(result)"></div>
        <div class="ca_statement" [innerHTML]="ca_statement"></div>
      </div>
    
      <div class="analysis-data" *ngIf="uploadedFileName && !result">
        <h2>File Details:</h2>
        <p>{{ uploadedFileName }}</p>
      </div>
    
      <div class="analysis-data" *ngIf="!result && !uploadedFileName">
        <p class="analysis-text" id="Report">Upload a file to view results</p>
      </div>
    </div>
  </div>

  <div class="buttons">
    <!-- <button [routerLink]="['/inbox']" type="button" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">View inbox</button> -->
    <!-- <button *ngIf="uploadedFileName" [routerLink]="['/violations']" type="button" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">View Violations</button> -->
    <!-- <button *ngIf="uploadedFileName" [routerLink]="['/report']" type="button" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">View Report</button> -->
  </div>

</div>