<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">

<link rel="stylesheet" href="upload-document.component.css">

<div class="main-content">
  <div class="header-container" *ngIf="!result">
    <header class="header">
      Upload your file for GDPR detection
    </header>
  </div>
  <p class="sub-header" *ngIf="!result">
    We'll scan your file for GDPR compliance and provide a detailed report. We will not store or share the file you upload.
  </p>

  <div class="containers">
    <div class="inbox-rectangle" *ngIf="!result">
      <div class="upload-container">
        <div *ngIf="!isUploading">
          <div class="flex items-center justify-center w-full"
               [class.dropzone-active]="isDragActive"
               [class.dropzone-disabled]="isUploading"
               (dragover)="onDragOver($event)"
               (dragleave)="onDragLeave($event)"
               (drop)="onFileDropped($event)"
               id="uploadFile"
               [style.pointer-events]="isUploading ? 'none' : 'auto'">
            <label for="dropzone-file"
                   class="flex flex-col items-center justify-center w-96 h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer dark:hover:bg-gray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600" style="background-color: #1F2937">
              <div class="flex flex-col items-center justify-center pt-5 pb-6">
                <svg class="w-8 h-8 mb-4 text-gray-500 " aria-hidden="true"
                     xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16" style="color: whitesmoke;">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
                </svg>
                <p class="mb-2 text-sm text-gray-500 dark:text-gray-400" style="color: whitesmoke;">
                  <span>Click to upload a file</span> or drag and drop
                </p>
                <!-- <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">
                  Accepted File Types: pdf, docx, xlsx
                </p> -->
              </div>
              <input id="dropzone-file" type="file" class="hidden" (change)="onFileSelected($event)"
                     [disabled]="isUploading" accept=".pdf,.docx,.xlsx" />
            </label>
          </div>
        </div>

        <div *ngIf="isUploading" class="flex items-center justify-center w-full h-64">
          <div role="status">
            <svg aria-hidden="true" class="w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600"
                 viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                fill="currentColor" />
              <path
                d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                fill="currentFill" />
            </svg>
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>
      <button (click)="testYM()" id="testButton">pressme</button>
    </div>

    <aside id="default-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform sm:translate-x-0" aria-label="Sidebar" *ngIf="result" style="background-color: #111827 !important;">
      <div class="h-full px-1 py-4 overflow-y-auto flex flex-col justify-center" style="background-color: #111827;">
        <ul class="space-y-2 font-medium">
          <li>
            <a (click)="onDownload()" class="flex items-center p-2 text-white-900 rounded-lg dark:text-white hover:bg-gray-700 dark:hover:bg-gray-700 group cursor-pointer">
              <i class="fas fa-download w-5 h-5 text-gray-400 group-hover:text-white"></i>
              <span class="ml-3">Download Report</span>
            </a>
          </li>
          <li>
            <a (click)="onVisualize()" id="vizButton" class="flex items-center p-2 text-white-900 rounded-lg dark:text-white hover:bg-gray-700 dark:hover:bg-gray-700 group cursor-pointer">
              <i class="fas fa-chart-bar w-5 h-5 text-gray-400 group-hover:text-white"></i>
              <span class="ml-3">Visualisations</span>
            </a>
          </li>
          <li>
            <a (click)="onAnnotate()" id="annoButton" class="flex items-center p-2 text-white-900 rounded-lg dark:text-white hover:bg-gray-700 dark:hover:bg-gray-700 group cursor-pointer">
              <i class="fas fa-exclamation-triangle w-5 h-5 text-gray-400 group-hover:text-white"></i>
              <span class="ml-3">View Violations</span>
            </a>
          </li>
          <li>
            <a (click)="clearAnalysis()" class="flex items-center p-2 text-white-900 rounded-lg dark:text-white hover:bg-gray-700 dark:hover:bg-gray-700 group cursor-pointer">
              <i class="fas fa-upload w-5 h-5 text-gray-400 group-hover:text-white"></i>
              <span class="ml-3">Upload New File</span>
            </a>
          </li>
        </ul>
      </div>
    </aside>

    <div class="analysis-rectangle ml-64" *ngIf="result">
      <div class="px-0 flex flex-1 justify-center py-0">
        <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
          <div class="flex flex-wrap justify-between gap-3 p-4">
            <div class="flex min-w-72 flex-col gap-3">
              <p class="text-[#111418] tracking-light text-[32px] font-bold leading-tight">GDPR Compliance Scan</p>
            </div>
          </div>
          <h3 class="text-[#111418] text-lg font-bold leading-tight tracking-[-0.015em] px-4 pb-2 pt-0">Summary</h3>
          <div class="p-2 grid grid-cols-[20%_1fr] gap-x-6">
            <div class="col-span-2 grid grid-cols-subgrid border-t border-t-[#dbe0e6] py-2.5">
              <p class="text-[#60758a] text-sm font-normal leading-normal pt-2">Compliance Status</p>
              <p *ngIf="documentStatus == 'Compliant'" class="text-[#111418] text-sm font-normal leading-normal pt-2 status-compliant">{{ documentStatus }}</p>
              <p *ngIf="documentStatus == 'Non-Compliant'" class="text-[#111418] text-sm font-normal leading-normal pt-2 status-non-compliant">{{ documentStatus }}</p>
            </div>
            <div class="col-span-2 grid grid-cols-subgrid border-t border-t-[#dbe0e6] py-2.5">
              <p class="text-[#60758a] text-sm font-normal leading-normal pt-2">Total Issues Detected</p>
              <p class="text-[#111418] text-sm font-normal leading-normal pt-2">{{ totalViolations }} issues</p>
            </div>
            <div class="col-span-2 grid grid-cols-subgrid border-t border-t-[#dbe0e6] py-2.5">
              <p class="text-[#60758a] text-sm font-normal leading-normal pt-2">Compliance Score</p>
              <p class="text-[#111418] text-sm font-normal leading-normal pt-2">{{ violationPercentage }}%</p>
            </div>
            <div class="col-span-2 grid grid-cols-subgrid border-t border-t-[#dbe0e6] py-2.5">
              <p class="text-[#60758a] text-sm font-normal leading-normal pt-2">Personal Data</p>
              <p class="text-[#111418] text-sm font-normal leading-normal pt-2">{{ personalData }} issues
                <span class="relative">
                  <i
                    class="fas fa-info-circle ml-3 text-gray-500 cursor-pointer"
                    data-tooltip-target="tooltip-personal-data"
                  ></i>
                  <div id="tooltip-personal-data" role="tooltip" class="tooltip">
                    This may include personal data such as names, identification numbers, dates of birth.
                    <div class="tooltip-arrow" data-popper-arrow></div>
                  </div>
                </span>
              </p>
            </div>
            <div class="col-span-2 grid grid-cols-subgrid border-t border-t-[#dbe0e6] py-2.5">
              <p class="text-[#60758a] text-sm font-normal leading-normal pt-2">Financial Data</p>
              <p class="text-[#111418] text-sm font-normal leading-normal pt-2">{{ financialData }} issues
                <span class="relative">
                  <i
                    class="fas fa-info-circle ml-3 text-gray-500 cursor-pointer"
                    data-tooltip-target="tooltip-personal-data"
                  ></i>
                  <div id="tooltip-personal-data" role="tooltip" class="tooltip">
                    This may include personal financial data such as banking details, tax numbers, account details
                    <div class="tooltip-arrow" data-popper-arrow></div>
                  </div>
                </span>
              </p>
            </div>
            <div class="col-span-2 grid grid-cols-subgrid border-t border-t-[#dbe0e6] py-2.5">
              <p class="text-[#60758a] text-sm font-normal leading-normal pt-2">Contact Data</p>
              <p class="text-[#111418] text-sm font-normal leading-normal pt-2">{{ contactData }} issues
                <span class="relative">
                  <i
                    class="fas fa-info-circle ml-3 text-gray-500 cursor-pointer"
                    data-tooltip-target="tooltip-personal-data"
                  ></i>
                  <div id="tooltip-personal-data" role="tooltip" class="tooltip">
                    This may include personal contact details such as phone numbers, email addresses or addresses
                    <div class="tooltip-arrow" data-popper-arrow></div>
                  </div>
                </span>
              </p>
            </div>
            <div class="col-span-2 grid grid-cols-subgrid border-t border-t-[#dbe0e6] py-2.5">
              <p class="text-[#60758a] text-sm font-normal leading-normal pt-2">Medical Data</p>
              <p class="text-[#111418] text-sm font-normal leading-normal pt-2">{{ medicalData }} issues
                <span class="relative">
                  <i
                    class="fas fa-info-circle ml-3 text-gray-500 cursor-pointer"
                    data-tooltip-target="tooltip-personal-data"
                  ></i>
                  <div id="tooltip-personal-data" role="tooltip" class="tooltip">
                    This may include personal medical data such as chronic illnesses, past injuries, diseases or viruses
                    <div class="tooltip-arrow" data-popper-arrow></div>
                  </div>
                </span>
              </p>
            </div>
            <div class="col-span-2 grid grid-cols-subgrid border-t border-t-[#dbe0e6] py-2.5">
              <p class="text-[#60758a] text-sm font-normal leading-normal pt-2">Ethnic Data</p>
              <p class="text-[#111418] text-sm font-normal leading-normal pt-2">{{ ethnicData }} issues
                <span class="relative">
                  <i
                    class="fas fa-info-circle ml-3 text-gray-500 cursor-pointer"
                    data-tooltip-target="tooltip-personal-data"
                  ></i>
                  <div id="tooltip-personal-data" role="tooltip" class="tooltip">
                    This may include ethnic data such as racial or ethnic origin, nationality and language
                    <div class="tooltip-arrow" data-popper-arrow></div>
                  </div>
                </span>
              </p>
            </div>
            <div class="col-span-2 grid grid-cols-subgrid border-t border-t-[#dbe0e6] py-2.5">
              <p class="text-[#60758a] text-sm font-normal leading-normal pt-2">Biometric Data</p>
              <p class="text-[#111418] text-sm font-normal leading-normal pt-2">{{ biometricData }} issues
                <span class="relative">
                  <i
                    class="fas fa-info-circle ml-3 text-gray-500 cursor-pointer"
                    data-tooltip-target="tooltip-personal-data"
                  ></i>
                  <div id="tooltip-personal-data" role="tooltip" class="tooltip">
                    This may include biometric data such as fingerprints, facial recognition, iris scans
                    <div class="tooltip-arrow" data-popper-arrow></div>
                  </div>
                </span>
              </p>
            </div>
            <div class="col-span-2 grid grid-cols-subgrid border-t border-t-[#dbe0e6] py-2.5">
              <p class="text-[#60758a] text-sm font-normal leading-normal pt-2">Genetic Data</p>
              <p class="text-[#111418] text-sm font-normal leading-normal pt-2">{{ geneticData }} issues
                <span class="relative">
                  <i
                    class="fas fa-info-circle ml-3 text-gray-500 cursor-pointer"
                    data-tooltip-target="tooltip-personal-data"
                  ></i>
                  <div id="tooltip-personal-data" role="tooltip" class="tooltip">
                    This may include genetic data such as ethical history, gene variants, and hereditary traits
                    <div class="tooltip-arrow" data-popper-arrow></div>
                  </div>
                </span>
              </p>
            </div>
          </div>
          <div class="flex flex-col gap-3 p-4">
            <div class="flex gap-6 justify-between">
              <p class="text-[#111418] text-base font-medium leading-normal pt-2">Compliance Score</p>
              <p class="text-[#111418] text-sm font-normal leading-normal pt-2">{{ violationPercentage }}%</p>
            </div>
            <div class="rounded bg-[#dbe0e6]">
              <div class="h-2 rounded bg-[#111418]" [style.width.%]="violationPercentage"></div>
            </div>
            <p class="text-[#60758a] text-sm font-normal leading-normal">{{ violationPercentage }}% of your data is GDPR compliant</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>